.section-2 {
	width: 100%;
	display: flex;
	justify-content: center;
}
.facebook {color: #4267B2;}
.instagram {color: #E1306C;}
.calendar {color: black;}

.logo {
	margin-right: 20px;
	font-size: 3.5rem;
	text-align: center;
	border-radius: 30px;
	width: 60px;
	padding: 10px 10px;
	background: #F5F5F5;
}

.facebook:hover {
	background: #4267B2;
	color: #F5F5F5;
}

.instagram:hover {
	background: #E1306C;
	color: #F5F5F5;
}

.calendar:hover {
	background: black;
	color: #F5F5F5;
}