@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);


.container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	align-content: center;
	height: 100vh;
}

* {
	font-family: "Poppins";
	box-sizing: border-box;
	background: #000;
}

html {
	color: white;
}

@media screen and (max-width: 1202px) {
	.section-1 {
		flex-direction: column;
	}
	.right__sec_img {
		width: 400px;
	}
  }
  